# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: 
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

name: Generate HTML from submission RMD

jobs:
  render-rmarkdown:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
      
      - name: Render Rmarkdown Readme file and Commit Results
        run: |
          echo "Rendering the page..."
          export PACKAGES=$(grep -oP 'library\(\K[^)]+' Project-Submission.RMD | sort -u | awk '{printf "\"%s\",", $0}' | sed 's/,$//')
          Rscript -e 'install.packages(c($PACKAGES))'
          Rscript -e 'install.packages(c("knitr", "rmarkdown"))'
          Rscript -e 'rmarkdown::render(input = "Project-Submission.Rmd")'
          Rscript -e 'rmarkdown::render(input = "Project-Submission.Rmd", output_file="README.md", output_format="md_document")'
          if [[ "$(git status --porcelain)" != "" ]]; then
            git config --local user.name "$GITHUB_ACTOR"
            git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
            git add *
            git commit -m "Generated Project Submission HTML"
            git push origin
          fi
